<template name="header">
    <header class="header">
        <div class="header__left-side">
            <a class="header__logo">Spirent</a>
            <ul class="header__navbar">
                <li class="header__navbar-item"><a class="home-link">Home</a></li>
                <li class="header__navbar-item"><a class="info-link">Info</a></li>
            </ul>
        </div>
        <div class="header__left-side">
            <a class="header__user-name">Hello, user!</a>
        </div>
    </header>
</template>